.field_simple {
    color: #3a3a3a;
    width: fit-content;

    border: solid 2px #6a6767;
    border-bottom: solid 3px #6a6767;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 16px 5px 18px;
}
.field_widthTotal {
    color: #3a3a3a;

    border: solid 2px #6a6767;
    border-bottom: solid 3px #6a6767;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 16px 5px 18px;
}
.field_formCenter {
    color: #3a3a3a;
    height: ;
    width: fit-content;

    border: solid 2px #6a6767;
    border-bottom: solid 3px #6a6767;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 16px 5px 18px;
}
.field_borderless {
    color: #3a3a3a;
    height: ;
    width: fit-content;

    margin: 10px;
    padding: 5px 16px 5px 18px;
}
.field_headerFormat {
    color: #3a3a3a;
    height: ;
    width: fit-content;

    border: solid 2px #6a6767;
    border-bottom: solid 3px #6a6767;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 16px 5px 18px;
}
.field_code {
    color: #3a3a3a;
    height: ;
    width: fit-content;

    border: solid 2px #6a6767;
    border-bottom: solid 3px #6a6767;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 16px 5px 18px;
}
.field_emptyBlock {
    color: #3a3a3a;
    height: ;
    width: fit-content;

    border: solid 2px #6a6767;
    border-bottom: solid 3px #6a6767;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 16px 5px 18px;
}